AWSTemplateFormatVersion: '2010-09-09'
Description: 'AWS CloudFormation Template for S3 Bucket with specified configurations.'

Resources:
  'Fn::ForEach::S3Buckets':
    - BucketSuffix
    - ['AES256', 'aws:kms', 'aws:kms:dsse']
    - 'S3Bucket${BucketSuffix}':
        Type: 'AWS::S3::Bucket'
        Properties:
          BucketName: !Sub '${AWS::StackName}-${BucketSuffix}-bucket'
          AccessControl: 'PublicReadWrite'
          PublicAccessBlockConfiguration:
            BlockPublicAcls: false
            BlockPublicPolicy: false
            IgnorePublicAcls: false
            RestrictPublicBuckets: false
          BucketEncryption:
            ServerSideEncryptionConfiguration:
              - ServerSideEncryptionByDefault:
                  SSEAlgorithm: !Ref BucketSuffix
          VersioningConfiguration:
            Status: 'Suspended'
          Tags:
            - Key: 'Environment'
              Value: 'Development'
            - Key: 'Project'
              Value: 'ProjectXYZ'
          LoggingConfiguration:
            DestinationBucketName: my-logging-bucket-12345
            LogFilePrefix: 'access-logs/'
          LifecycleConfiguration:
            Rules:
              - Id: 'ExpireOldObjects'
                Status: 'Enabled'
                Prefix: 'archive/'
                ExpirationInDays: 365
              - Id: 'DeleteIncompleteMultipartUpload'
                Status: 'Enabled'
                AbortIncompleteMultipartUpload:
                  DaysAfterInitiation: 90
          WebsiteConfiguration:
            IndexDocument: 'index.html'
            ErrorDocument: 'error.html'
          CorsConfiguration:
            CorsRules:
              - AllowedOrigins: ['*']
                AllowedMethods: ['GET', 'PUT']
                AllowedHeaders: ['*']
                MaxAge: 3000
                ExposeHeaders: ['x-amz-server-side-encryption']

Outputs:
  BucketName:
    Description: 'Name of the S3 bucket'
    Value: !Ref MyS3Bucket
  BucketArn:
    Description: 'ARN of the S3 bucket'
    Value: !GetAtt MyS3Bucket.Arn
