<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<!-- This deployment descriptor does not specify error pages for the
     various error codes that could be returned by the server. This
     can potentially show information about the server, its configuration
     and/or stack traces from the application, causing information leakage.
-->

</web-app>
